<div class="col-xs-12" ng-show="vm.showpage" ng-if="vm.showpage">
  <div class="col-xs-12">
    <h4>Welcome <span ng-show="vm.player_nick">, {{vm.player_nick | uppercase}}</span></h4>
  </div>
  <div class="col-xs-8 col-md-7 col-lg-6">
    
    <table class="table table-bordered grid">
      <tr class="grid-row" ng-repeat="i in getNumber(vm.game_info.grid_size) track by $index">
        <td ng-class="{ 'selected grid-column': vm.selection_class_grid[$parent.$index][$index], 'grid-column': !vm.selection_class_grid[$parent.$index][$index] }" ng-repeat="j in getNumber(vm.game_info.grid_size) track by $index" ng-click="vm.toggleSelection($parent.$index,$index)">
          {{vm.getGridLetter($parent.$index,$index)}}
        </td>
      </tr>
    </table>
    <div class="col-xs-12" ng-hide="vm.submitcheck()">
      <button class="btn btn-default" ng-click="vm.submitWord()" ng-disabled="vm.selected_grid.length == 0">Submit</button>
      <button class="btn btn-default" ng-click="vm.submitWord('pass')">Pass</button>
    </div> 
  </div>
  <div class="col-xs-4 col-md-5 col-lg-6">
    <div class="col-xs-12">
      <div class="col-xs-4"><h5>Status: {{ vm.game_info.game_status | uppercase }}</h5></div>
      <div class="col-xs-8">
        <button class="btn btn-primary" ng-show="vm.showStartBtn()" ng-click="vm.start_game()">Start</button>
        <span>  {{vm.startErrorMsg}}  </span>
      </div>
      <div class="col-xs-12"><h5>Game ID: {{vm.gameid}}</h5></div>
    </div>
    <div class="col-xs-6" ng-show="vm.game_info.words_done.length > 0">
      <h4>Words Done</h4>
      <div class="col-xs-12 words-list">
        <table class="table table-bordered">
          <tr>
            <th>Words</th>
          </tr>
          <tr ng-repeat="word in vm.game_info.words_done">
            <td>{{word}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-xs-6">
      <h4>Standing!</h4>
      <table class="table table-bordered">
        <tr>
          <th>Player</th><th>Score</th>
        </tr>
        <tr ng-repeat="player in vm.game_info.turn_seq" ng-class="{'current-player': vm.game_info.players[vm.game_info.current_player] == player}">
          <td>{{player | uppercase }}</td>
          <td>{{vm.game_info.scores[player]}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="message-box" ng-show="vm.showMessageBox">
    <span>Word: {{vm.game_step.word}}</span><span>Score: {{vm.game_step.score}}</span><span>Success: {{vm.game_step.success}}</span>
  </div>
</div>
<div class="col-xs-12" ng-hide="vm.showpage">
  <h4>Waiting!!</h4>
</div>