<div class="col-xs-12" ng-show="vm.showpage" ng-if="vm.showpage">
  <div class="col-xs-12">
    <h4>Welcome <span ng-show="vm.player_nick">, {{vm.player_nick | uppercase}}</span></h4>
  </div>
  <div class="col-xs-8 col-md-7 col-lg-6">
    
    <table class="table table-bordered grid">
      <tr class="grid-row" ng-repeat="i in getNumber(vm.game_info.grid_size) track by $index">
        <td ng-class="{ 'selected grid-column': vm.selection_class_grid[$parent.$index][$index], 'grid-column': !vm.selection_class_grid[$parent.$index][$index] }" ng-repeat="j in getNumber(vm.game_info.grid_size) track by $index" ng-click="vm.toggleSelection($parent.$index,$index)">
          {{vm.getGridLetter($parent.$index,$index)}}
        </td>
      </tr>
    </table>
    <button class="btn btn-default" ng-click="vm.submitWord()" ng-disabled="vm.game_info.game_status != 'in_play' || vm.playerid != vm.game_info.current_player">Submit</button>
  </div>
  <div class="col-xs-4 col-md-5 col-lg-6">
    <h5>Status: {{ vm.game_info.game_status | uppercase }}</h5>
    <h5>GameId: {{vm.gameid}}</h5>
    <div class="col-xs-6">
      <h4>Words Done</h4>
      <ul class="list-items">
        <li ng-repeat="word in vm.game_info.words_done">{{word}}</li>
      </ul>
    </div>
    <div class="col-xs-6">
      <h4>Standing!</h4>
      <table class="table table-bordered">
        <tr>
          <th>Player</th><th>Score</th>
        </tr>
        <tr ng-repeat="player in vm.game_info.turn_seq" ng-class="{'current-player': vm.game_info.players[vm.game_info.current_player] == player}">
          <td>{{player | uppercase }}</td>
          <td>{{vm.game_info.scores[player]}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="message-box" ng-show="vm.showMessageBox">
    <span>Word: {{vm.game_step.word}}</span><span>Score: {{vm.game_step.score}}</span><span>Success: {{vm.game_step.success}}</span>
  </div>
</div>
<div class="col-xs-12" ng-hide="vm.showpage">
  <h4>Waiting!!</h4>
</div>