<div class="col-xs-8 col-xs-offset-2 box">
  <div class="alert-box col-xs-12" ng-show="vm.showErrorMessage">
    <p>{{vm.errorMessage}}</p>
  </div>
  <div class="home-title">
    <h3>Let's scrabble!</h3>
    <h5 ng-show="vm.playerid">Your ID : {{vm.playerid}} </h5>
  </div>
  <div class="col-xs-10 col-xs-offset-1">
    <button class="btn btn-primary btn-custom" ng-click="vm.showjoinform = !vm.showjoinform">Join Game</button>
    <button class="btn btn-primary btn-custom" ng-click="vm.showstartform = !vm.showstartform">Start Game</button>
    <button class="btn btn-primary btn-custom" ng-click="vm.shownewgameform = !vm.shownewgameform">New Game</button>
    <button class="btn btn-primary btn-custom" ng-click="vm.showgameinfoform = !vm.showgameinfoform">Go to Game</button>
  </div>
  <div class="col-xs-12" ng-show="vm.showjoinform">
    <form>
      <div class="form-group col-xs-6">
        <label for="gameId">Game Id</label>
        <input type="text" class="form-control" placeholder="ce880d96-bf4e-4633-95f4-14296c84a691" ng-model="vm.joinGame.gameid">
      </div>
      <div class="form-group col-xs-6">
        <label for="nick">Nickname</label>
        <input type="text" class="form-control" placeholder="joker" ng-model="vm.joinGame.nick">
      </div>
      <button type="submit" class="btn btn-default" ng-click="vm.join_game()">Join</button>
      <button class="btn btn-default" ng-click="vm.showjoinform = !vm.showjoinform">Cancel</button>
    </form>
  </div>
  <div class="col-xs-12" ng-show="vm.showstartform">
    <form>
      <div class="form-group col-xs-6">
        <label for="gameId">Game Id</label>
        <input type="text" class="form-control" placeholder="ce880d96-bf4e-4633-95f4-14296c84a691" ng-model="vm.startGame.gameid" required>
      </div>
      <div class="form-group col-xs-6">
        <label for="playerId">Player Id</label>
        <input type="text" class="form-control" placeholder="ce880d96-bf4e-4633-95f4-14296c84a691" ng-model="vm.startGame.playerid">
      </div>
      <button type="submit" class="btn btn-default" ng-click="vm.start_game()">Start</button>
      <button class="btn btn-default" ng-click="vm.showstartform = !vm.showstartform">Cancel</button>
    </form>
  </div>
  <div class="col-xs-12" ng-show="vm.shownewgameform">
    <form>
      <div class="form-group col-xs-6">
        <label for="nick">Nickname</label>
        <input type="text" class="form-control" placeholder="joker" ng-model="vm.newGame.nick">
      </div>
      <div class="form-group col-xs-6">
        <label for="size">Grid Size</label>
        <input type="number" class="form-control" placeholder="15" ng-model="vm.newGame.grid_size">
      </div> 
      <button type="submit" class="btn btn-default" ng-click="vm.new_game()">Create</button>
      <button class="btn btn-default" ng-click="vm.shownewgameform = !vm.shownewgameform">Cancel</button>
    </form>
  </div>
  <div class="col-xs-12" ng-show="vm.showgameinfoform">
    <form>
      <div class="form-group">
        <label for="gameId">Game Id</label>
        <input type="text" class="form-control" placeholder="ce880d96-bf4e-4633-95f4-14296c84a691" ng-model="vm.infoGame.gameid">
      </div>
      <button type="submit" class="btn btn-default" ng-click="vm.go_to_game()">Go!</button>
      <button class="btn btn-default" ng-click="vm.showgameinfoform = !vm.showgameinfoform">Cancel</button>
    </form>
  </div>
</div>